# conseption et realisation d'un dashbord et d'un modele de detection de fraude des données de la Direction des Grandes Entreprise

## Preparation des données

### Importation des modules

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix

### parametrages des modules

In [2]:
sns.set_theme()
#pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns

### selection, affichage et filtrage des fichiers

In [3]:
TVA = pd.read_excel('VraiTVA.xlsx')
#TVA

In [4]:
ERA = pd.read_excel('VraiERA.xlsx')
#ERA

In [5]:
jointure = pd.merge(ERA, TVA, on='BP', how='inner')
#jointure = jointure[['BP', 'Wilaya', 'Code CNRC', 'Code ONS', 'Chiffre d’affaire (C.A)', 'Total TVA anuelle']]

In [6]:
jointure.rename(columns={'Chiffre d’affaire (C.A)': 'ChAff'}, inplace=True)
jointure.rename(columns={'Total TVA anuelle': 'Total TVA anunelle'}, inplace=True)
#jointure.head()

### créer la colonne feature et cible

In [7]:
jointure['feature'] =  jointure['ChAff']  - jointure['Total TVA anunelle']

In [8]:
def estime(row):
    if row['ChAff'] == 0 or row['Total TVA anunelle'] ==0 :
        return 'sus'
    elif abs(row['feature']) > 1000:
        return 'fraude'
    else:
        return 'bon'

jointure['cible'] = jointure.apply(estime, axis=1)

In [9]:
jointure.head()

,BP,Wilaya,Code CNRC,Code ONS,ChAff,Total TVA Janvier,Total TVA Février,Total TVA Mars,Total TVA Avril,Total TVA Mai,Total TVA Juin,Total TVA Juillet,Total TVA Août,Total TVA Septembre,Total TVA Octobre,Total TVA Novembre,Total TVA Décembre,Total TVA anunelle,feature,cible
0,2000000147,DIW Alger est,607047,/,0,4.381490e+09,4.710011e+09,5.358351e+09,4.811742e+09,4.835182e+09,4.467203e+09,3.692317e+09,3.713033e+09,5.274394e+09,6.056911e+09,4.706919e+09,5.852010e+09,5.785956e+10,-5.785956e+10,sus
1,2000000200,DIW Alger est,608001,/,93115698,6.441810e+05,1.478702e+06,2.304256e+06,1.226741e+06,2.147761e+07,3.343922e+07,9.184847e+06,4.261077e+06,3.033041e+06,4.966790e+06,5.425418e+06,5.673810e+06,9.311570e+07,0.000000e+00,bon
2,2000007178,DIW Bordj Bou Arréridj,110202,/,155423274,4.872747e+06,4.275042e+06,3.918504e+06,6.082352e+06,7.774514e+06,2.706730e+07,2.240796e+07,8.738202e+06,5.113770e+06,5.666626e+06,2.643794e+07,3.306832e+07,1.554233e+08,0.000000e+00,bon
3,2000009570,DIW Alger est,405105,/,5798168362,4.232086e+08,3.965581e+08,4.111293e+08,6.288660e+08,3.132802e+08,4.100639e+08,3.332674e+08,5.615210e+08,7.133190e+08,4.950724e+08,5.964098e+08,5.272515e+08,5.809947e+09,-1.177863e+07,fraude
4,2000011509,DIW Alger est,409001,/,2062602782,1.607687e+08,2.937824e+08,3.321080e+08,1.234689e+08,1.051586e+08,2.330517e+08,1.305186e+08,1.720886e+08,1.598969e+08,1.437596e+08,7.488136e+07,1.328862e+08,2.062370e+09,2.331380e+05,fraude

## Over sample de la donnée fraude dans le data set

In [10]:

fraud_count = jointure['cible'].value_counts()
print(fraud_count)

#definir la donnée maximal et minimal
minority_cible = fraud_count.idxmin()
majority_cible = fraud_count.idxmax()

# Calcule du nombre de rows à add
oversample_amount = fraud_count[majority_cible] - fraud_count[minority_cible]

cible
fraude    720
sus       340
bon       210
Name: count, dtype: int64

In [11]:
# Filter the minority class
minority_data = jointure[jointure['cible'] == minority_cible]

# Randomly sample from the minority data
oversampled_data = minority_data.sample(n=oversample_amount, replace=True, random_state=42)

# Append the oversampled data to the original DataFrame
jointure_oversampled = pd.concat([jointure, oversampled_data])

# Shuffle the dataset to mix the rows up
jointure_oversampled = jointure_oversampled.sample(frac=1, random_state=42).reset_index(drop=True)

### Verification du nouveau data set

In [12]:
print(jointure_oversampled['cible'].value_counts())

cible
bon       720
fraude    720
sus       340
Name: count, dtype: int64

In [13]:
print(jointure_oversampled.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1780 entries, 0 to 1779
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   BP                   1780 non-null   int64
 1   Wilaya               1780 non-null   object
 2   Code CNRC            1780 non-null   object
 3   Code ONS             1780 non-null   object
 4   ChAff                1780 non-null   int64
 5   Total TVA Janvier    1780 non-null   float64
 6   Total TVA Février    1780 non-null   float64
 7   Total TVA Mars       1780 non-null   float64
 8   Total TVA Avril      1780 non-null   float64
 9   Total TVA Mai        1780 non-null   float64
 10  Total TVA Juin       1780 non-null   float64
 11  Total TVA Juillet    1780 non-null   float64
 12  Total TVA Août       1780 non-null   float64
 13  Total TVA Septembre  1780 non-null   float64
 14  Total TVA Octobre    1780 non-null   float64
 15  Total TVA Novembre   1780 non-null   float64
 16  Total TVA Décembre   1780 non-null   float64
 17  Total TVA anunelle   1780 non-null   float64
 18  feature              1780 non-null   float64
 19  cible                1780 non-null   object
dtypes: float64(14), int64(2), object(4)
memory usage: 278.3+ KB
None

## Encodage categoriel & Normalisation/Standardisation

### encodage categoriel des wilaya

In [14]:
wilaya_count = jointure_oversampled['Wilaya'].value_counts()
print(wilaya_count)

Wilaya
DIW Alger centre          661
DIW Alger est             244
DIW Alger ouest           144
DIW Blida                  94
DIW Oran Est               91
DIW Sétif                  63
DIW Boumerdès              52
DIW Ouargla                49
DIW Constantine            47
DIW Annaba                 36
DIW Béjaïa                 33
DIW Sidi Bel Abbes         28
DIW Skikda                 26
DIW Bordj Bou Arréridj     24
DIW Tizi Ouzou             24
DIW Batna                  22
DIW M'Sila                 16
DIW Biskra                 13
DIW Jijel                  12
DIW Oum el-Bouaghi         12
DIW Tlemcen                11
DIW Bouira                 10
DIW Tipaza                 10
DIW Mostaganem              9
DIW Chlef                   6
DIW Médéa                   6
DIW Aïn Témouchent          5
DIW Mascara                 5
DIW Mila                    4
DIW Relizane                3
Non affecté                 3
DIW El Taref                2
DIW Aïn Defla               2
DIW Oran Ouest              2
DIW Guelma                  2
DIW Saïda                   2
DIW Tiaret                  2
DIW El Oued                 2
DIW Djelfa                  1
DIW Khenchela               1
DIW Adrar                   1
Name: count, dtype: int64

In [15]:
# Clean and standardize the Wilaya names
jointure_oversampled['Standardized_Wilaya'] = jointure_oversampled['Wilaya'].str.replace('DIW ', '')

# Label Encoding
wilaya_mapping = {name: i + 1 for i, name in enumerate(jointure_oversampled['Standardized_Wilaya'].unique())}
jointure_oversampled['Wilaya_encoded'] = jointure_oversampled['Standardized_Wilaya'].map(wilaya_mapping)

# Display the DataFrame to check the new columns
print(jointure_oversampled[['Wilaya', 'Standardized_Wilaya', 'Wilaya_encoded']])

                Wilaya Standardized_Wilaya  Wilaya_encoded
0            DIW Sétif               Sétif               1
1          DIW Tlemcen             Tlemcen               2
2      DIW Alger ouest         Alger ouest               3
3        DIW Alger est           Alger est               4
4            DIW Sétif               Sétif               1
...                ...                 ...             ...
1775  DIW Alger centre        Alger centre               6
1776  DIW Alger centre        Alger centre               6
1777   DIW Alger ouest         Alger ouest               3
1778         DIW Blida               Blida              16
1779      DIW Relizane            Relizane              33

[1780 rows x 3 columns]

### encodage categoriel des Codes ONS et CNRC

In [16]:
# Label Encoding for 'code CNRC'
cnrc_unique = pd.unique(jointure_oversampled['Code CNRC'])
code_cnrc_mapping = {code: idx + 1 for idx, code in enumerate(cnrc_unique)}
jointure_oversampled['code CNRC_encoded'] = jointure_oversampled['Code CNRC'].map(code_cnrc_mapping)

# Label Encoding for 'code ONS'
ons_unique = pd.unique(jointure_oversampled['Code ONS'])
code_ons_mapping = {code: idx + 1 for idx, code in enumerate(ons_unique)}
jointure_oversampled['code ONS_encoded'] = jointure_oversampled['Code ONS'].map(code_ons_mapping)

# Display the DataFrame to check the new columns
print(jointure_oversampled)

              BP            Wilaya Code CNRC Code ONS       ChAff  \
0     2000044794         DIW Sétif    442102        /  5198132520
1     2000044686       DIW Tlemcen    422101        /  4784428079
2     2000046152   DIW Alger ouest         /        /  1434142892
3     2000046516     DIW Alger est         /        /           0
4     2000045448         DIW Sétif         /        /  2978794300
...          ...               ...       ...      ...         ...
1775  2000046633  DIW Alger centre    613125     4321    22988920
1776  2000045379  DIW Alger centre         /        /    10768025
1777  2000045829   DIW Alger ouest         /        /   113184009
1778  2000045372         DIW Blida         /        /    17367200
1779  2000046628      DIW Relizane    613203     4329           0

      Total TVA Janvier  Total TVA Février  Total TVA Mars  Total TVA Avril  \
0           178857404.0        489635762.0     378586738.0      350908228.0
1           384144989.0        426138728.0     339110661.0      266038190.0
2                   0.0                0.0     366191735.0              0.0
3                   0.0                0.0             0.0              0.0
4           244926561.0        238794897.0     264282826.0      314409522.0
...                 ...                ...             ...              ...
1775                0.0                0.0             0.0              0.0
1776          3824521.0          4138260.0       2805243.0              0.0
1777                0.0                0.0             0.0              0.0
1778          1452000.0          1447000.0       1578000.0        1326000.0
1779                0.0                0.0             0.0              0.0

      Total TVA Mai  Total TVA Juin  Total TVA Juillet  Total TVA Août  \
0       352710677.0     662655860.0        266237705.0     548177005.0
1       438995038.0     465574543.0        403307000.0     165922044.0
2       129084492.0             0.0        176156133.0             0.0
3               0.0             0.0                0.0             0.0
4       289559589.0     229911760.0        230111364.0     231121010.0
...             ...             ...                ...             ...
1775            0.0             0.0                0.0             0.0
1776            0.0             0.0                0.0             0.0
1777            0.0             0.0                0.0             0.0
1778      1157000.0       1584000.0          1370000.0       1412000.0
1779            0.0             0.0                0.0             0.0

      Total TVA Septembre  Total TVA Octobre  Total TVA Novembre  \
0             471147806.0        560949424.0         460971704.0
1             519661049.0        383688781.0         380350492.0
2                     0.0        758262731.0           4447800.0
3                     0.0                0.0                 0.0
4             226353348.0        222312756.0         230567577.0
...                   ...                ...                 ...
1775                  0.0                0.0                 0.0
1776                  0.0                0.0                 0.0
1777                  0.0                0.0                 0.0
1778            1471200.0          1596000.0           1500000.0
1779                  0.0                0.0                 0.0

      Total TVA Décembre  Total TVA anunelle      feature   cible  \
0            477294206.0        5.198133e+09          1.0     bon
1            611496563.0        4.784428e+09          1.0     bon
2                    0.0        1.434143e+09          1.0     bon
3                    0.0        0.000000e+00          0.0     sus
4            256443091.0        2.978794e+09         -1.0     bon
...                  ...                 ...          ...     ...
1775           2954700.0        2.954700e+06   20034220.0  fraude
1776                 0.0        1.076802e+07          1.0     bon
1777                 0.0        0.000000e+00  113184009.0     sus
1778           1474000.0        1.736720e+07          0.0     bon
1779                 0.0        0.000000e+00          0.0     sus

     Standardized_Wilaya  Wilaya_encoded  code CNRC_encoded  code ONS_encoded
0                  Sétif               1                  1                 1
1                Tlemcen               2                  2                 1
2            Alger ouest               3                  3                 1
3              Alger est               4                  3                 1
4                  Sétif               1                  3                 1
...                  ...             ...                ...               ...
1775        Alger centre               6                 15                 4
1776        Alger centre               6                  3                 1
1777         Alger ouest               3                  3                 1
1778               Blida              16                  3                 1
1779            Relizane              33                 10                 3

[1780 rows x 24 columns]

### encodage categoriel de target ENFIN

In [17]:
target_mapping = {
    'bon': 0,      # Typically, the "normal" class can be zero
    'fraude': 1,   # Positive class can be one, especially if it's a binary classification
    'sus': 2       # Additional class can take the next integer
}

# Apply the mapping to the target column
jointure_oversampled['target_encoded'] = jointure_oversampled['cible'].map(target_mapping)

# Display the DataFrame to check the new column
print(jointure_oversampled[['cible', 'target_encoded']])

       cible  target_encoded
0        bon               0
1        bon               0
2        bon               0
3        sus               2
4        bon               0
...      ...             ...
1775  fraude               1
1776     bon               0
1777     sus               2
1778     bon               0
1779     sus               2

[1780 rows x 2 columns]

### verification du Data set :SOB: + supression des columns not needed

In [18]:
jointure_oversampled

,BP,Wilaya,Code CNRC,Code ONS,ChAff,Total TVA Janvier,Total TVA Février,Total TVA Mars,Total TVA Avril,Total TVA Mai,Total TVA Juin,Total TVA Juillet,Total TVA Août,Total TVA Septembre,Total TVA Octobre,Total TVA Novembre,Total TVA Décembre,Total TVA anunelle,feature,cible,Standardized_Wilaya,Wilaya_encoded,code CNRC_encoded,code ONS_encoded,target_encoded
0,2000044794,DIW Sétif,442102,/,5198132520,178857404.0,489635762.0,378586738.0,350908228.0,352710677.0,662655860.0,266237705.0,548177005.0,471147806.0,560949424.0,460971704.0,477294206.0,5.198133e+09,1.0,bon,Sétif,1,1,1,0
1,2000044686,DIW Tlemcen,422101,/,4784428079,384144989.0,426138728.0,339110661.0,266038190.0,438995038.0,465574543.0,403307000.0,165922044.0,519661049.0,383688781.0,380350492.0,611496563.0,4.784428e+09,1.0,bon,Tlemcen,2,2,1,0
2,2000046152,DIW Alger ouest,/,/,1434142892,0.0,0.0,366191735.0,0.0,129084492.0,0.0,176156133.0,0.0,0.0,758262731.0,4447800.0,0.0,1.434143e+09,1.0,bon,Alger ouest,3,3,1,0
3,2000046516,DIW Alger est,/,/,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,sus,Alger est,4,3,1,2
4,2000045448,DIW Sétif,/,/,2978794300,244926561.0,238794897.0,264282826.0,314409522.0,289559589.0,229911760.0,230111364.0,231121010.0,226353348.0,222312756.0,230567577.0,256443091.0,2.978794e+09,-1.0,bon,Sétif,1,3,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1775,2000046633,DIW Alger centre,613125,4321,22988920,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2954700.0,2.954700e+06,20034220.0,fraude,Alger centre,6,15,4,1
1776,2000045379,DIW Alger centre,/,/,10768025,3824521.0,4138260.0,2805243.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.076802e+07,1.0,bon,Alger centre,6,3,1,0
1777,2000045829,DIW Alger ouest,/,/,113184009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,113184009.0,sus,Alger ouest,3,3,1,2
1778,2000045372,DIW Blida,/,/,17367200,1452000.0,1447000.0,1578000.0,1326000.0,1157000.0,1584000.0,1370000.0,1412000.0,1471200.0,1596000.0,1500000.0,1474000.0,1.736720e+07,0.0,bon,Blida,16,3,1,0
1779,2000046628,DIW Relizane,613203,4329,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,sus,Relizane,33,10,3,2

In [19]:
print(jointure_oversampled.columns)

Index(['BP', 'Wilaya', 'Code CNRC', 'Code ONS', 'ChAff', 'Total TVA Janvier',
       'Total TVA Février', 'Total TVA Mars', 'Total TVA Avril',
       'Total TVA Mai', 'Total TVA Juin', 'Total TVA Juillet',
       'Total TVA Août', 'Total TVA Septembre', 'Total TVA Octobre',
       'Total TVA Novembre', 'Total TVA Décembre', 'Total TVA anunelle',
       'feature', 'cible', 'Standardized_Wilaya', 'Wilaya_encoded',
       'code CNRC_encoded', 'code ONS_encoded', 'target_encoded'],
      dtype='object')

In [20]:
jointure_oversampled = jointure_oversampled.drop(columns = ['Wilaya', 'Code CNRC', 'Code ONS','cible'])

In [21]:
jointure_oversampled = jointure_oversampled.drop(columns = ['Standardized_Wilaya'])

In [22]:
jointure_oversampled

,BP,ChAff,Total TVA Janvier,Total TVA Février,Total TVA Mars,Total TVA Avril,Total TVA Mai,Total TVA Juin,Total TVA Juillet,Total TVA Août,Total TVA Septembre,Total TVA Octobre,Total TVA Novembre,Total TVA Décembre,Total TVA anunelle,feature,Wilaya_encoded,code CNRC_encoded,code ONS_encoded,target_encoded
0,2000044794,5198132520,178857404.0,489635762.0,378586738.0,350908228.0,352710677.0,662655860.0,266237705.0,548177005.0,471147806.0,560949424.0,460971704.0,477294206.0,5.198133e+09,1.0,1,1,1,0
1,2000044686,4784428079,384144989.0,426138728.0,339110661.0,266038190.0,438995038.0,465574543.0,403307000.0,165922044.0,519661049.0,383688781.0,380350492.0,611496563.0,4.784428e+09,1.0,2,2,1,0
2,2000046152,1434142892,0.0,0.0,366191735.0,0.0,129084492.0,0.0,176156133.0,0.0,0.0,758262731.0,4447800.0,0.0,1.434143e+09,1.0,3,3,1,0
3,2000046516,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,4,3,1,2
4,2000045448,2978794300,244926561.0,238794897.0,264282826.0,314409522.0,289559589.0,229911760.0,230111364.0,231121010.0,226353348.0,222312756.0,230567577.0,256443091.0,2.978794e+09,-1.0,1,3,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1775,2000046633,22988920,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2954700.0,2.954700e+06,20034220.0,6,15,4,1
1776,2000045379,10768025,3824521.0,4138260.0,2805243.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.076802e+07,1.0,6,3,1,0
1777,2000045829,113184009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,113184009.0,3,3,1,2
1778,2000045372,17367200,1452000.0,1447000.0,1578000.0,1326000.0,1157000.0,1584000.0,1370000.0,1412000.0,1471200.0,1596000.0,1500000.0,1474000.0,1.736720e+07,0.0,16,3,1,0
1779,2000046628,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,33,10,3,2

### normalisation et standardisation 
 vu que nous allons faire a random forest and/or a regression tree, il serait preferable de standardiser les données

In [23]:
jointure_oversampled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1780 entries, 0 to 1779
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   BP                   1780 non-null   int64
 1   ChAff                1780 non-null   int64
 2   Total TVA Janvier    1780 non-null   float64
 3   Total TVA Février    1780 non-null   float64
 4   Total TVA Mars       1780 non-null   float64
 5   Total TVA Avril      1780 non-null   float64
 6   Total TVA Mai        1780 non-null   float64
 7   Total TVA Juin       1780 non-null   float64
 8   Total TVA Juillet    1780 non-null   float64
 9   Total TVA Août       1780 non-null   float64
 10  Total TVA Septembre  1780 non-null   float64
 11  Total TVA Octobre    1780 non-null   float64
 12  Total TVA Novembre   1780 non-null   float64
 13  Total TVA Décembre   1780 non-null   float64
 14  Total TVA anunelle   1780 non-null   float64
 15  feature              1780 non-null   float64
 16  Wilaya_encoded       1780 non-null   int64
 17  code CNRC_encoded    1780 non-null   int64
 18  code ONS_encoded     1780 non-null   int64
 19  target_encoded       1780 non-null   int64
dtypes: float64(14), int64(6)
memory usage: 278.3 KB

In [24]:
columns_to_standardize = [
    'ChAff',
    'Total TVA Janvier', 'Total TVA Février', 'Total TVA Mars', 'Total TVA Avril',
    'Total TVA Mai', 'Total TVA Juin', 'Total TVA Juillet', 'Total TVA Août',
    'Total TVA Septembre', 'Total TVA Octobre', 'Total TVA Novembre', 'Total TVA Décembre',
    'Total TVA anunelle'
]

# Apply standardization
for column in columns_to_standardize:
    jointure_oversampled[column] = (jointure_oversampled[column] - jointure_oversampled[column].mean()) / jointure_oversampled[column].std()

# Now your columns are standardized
print(jointure_oversampled[columns_to_standardize].head())

      ChAff  Total TVA Janvier  Total TVA Février  Total TVA Mars  \
0 -0.037715          -0.135572          -0.003022       -0.082838
1 -0.039684          -0.059042          -0.031196       -0.098812
2 -0.055633          -0.202250          -0.220277       -0.087853
3 -0.062460          -0.202250          -0.220277       -0.236035
4 -0.048280          -0.110942          -0.114322       -0.129091

   Total TVA Avril  Total TVA Mai  Total TVA Juin  Total TVA Juillet  \
0        -0.069479      -0.075812        0.046744          -0.098719
1        -0.103705      -0.042472       -0.033840          -0.039600
2        -0.210989      -0.162219       -0.224208          -0.137572
3        -0.210989      -0.212096       -0.224208          -0.213548
4        -0.084198      -0.100213       -0.130200          -0.114300

   Total TVA Août  Total TVA Septembre  Total TVA Octobre  Total TVA Novembre  \
0       -0.001016            -0.030627          -0.011185           -0.048607
1       -0.156762            -0.010191          -0.082242           -0.082481
2       -0.224365            -0.229096           0.067911           -0.240420
3       -0.224365            -0.229096          -0.236048           -0.242288
4       -0.130197            -0.133746          -0.146931           -0.145414

   Total TVA Décembre  Total TVA anunelle
0           -0.056608           -0.049898
1           -0.003547           -0.064433
2           -0.245319           -0.182144
3           -0.245319           -0.232531
4           -0.143928           -0.127873

## MODEL SKLEARN KNN

In [25]:
jointure_oversampled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1780 entries, 0 to 1779
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   BP                   1780 non-null   int64
 1   ChAff                1780 non-null   float64
 2   Total TVA Janvier    1780 non-null   float64
 3   Total TVA Février    1780 non-null   float64
 4   Total TVA Mars       1780 non-null   float64
 5   Total TVA Avril      1780 non-null   float64
 6   Total TVA Mai        1780 non-null   float64
 7   Total TVA Juin       1780 non-null   float64
 8   Total TVA Juillet    1780 non-null   float64
 9   Total TVA Août       1780 non-null   float64
 10  Total TVA Septembre  1780 non-null   float64
 11  Total TVA Octobre    1780 non-null   float64
 12  Total TVA Novembre   1780 non-null   float64
 13  Total TVA Décembre   1780 non-null   float64
 14  Total TVA anunelle   1780 non-null   float64
 15  feature              1780 non-null   float64
 16  Wilaya_encoded       1780 non-null   int64
 17  code CNRC_encoded    1780 non-null   int64
 18  code ONS_encoded     1780 non-null   int64
 19  target_encoded       1780 non-null   int64
dtypes: float64(15), int64(5)
memory usage: 278.3 KB

In [26]:
# Select your features and target variable
X = jointure_oversampled[['feature']]
y = jointure_oversampled['target_encoded'] 

# Split the dataset into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the k-NN classifier
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)

# Make predictions on the test set
predictions = knn.predict(X_test)

# Evaluate the model
print("Classification Report:")
print(classification_report(y_test, predictions))

print("Confusion Matrix:")
print(confusion_matrix(y_test, predictions))

Classification Report:
              precision    recall  f1-score   support

           0       1.00      0.72      0.84       149
           1       0.84      0.92      0.88       136
           2       0.48      0.68      0.56        71

    accuracy                           0.79       356
   macro avg       0.77      0.77      0.76       356
weighted avg       0.84      0.79      0.80       356

Confusion Matrix:
[[108   0  41]
 [  0 125  11]
 [  0  23  48]]